* {
  box-sizing: border-box;
}

html {
  font-size: 20px;
}

body {
  color: #333;
  margin: 0;
  font-family: Georgia, serif;
}

input {
  color: #333;
  font-family: Georgia, serif;
  font-size: 1rem;
  padding: 0.1rem 0.5rem;
}

h1,
label,
input[type="submit"],
pre {
  display: block;
  margin: 2rem;
}

div {
  margin: 0;
  width: 100%;
}
div:after {
  clear: both;
  content: '';
  display: table;
}

img {
  display: block;
  float: left;
  padding: 0 2rem 2rem;
  width: 33.33%;
}

