* {
  box-sizing: border-box;
}

html {
  font-size: 20px;
}

body {
  color: #333;
  font-family: Georgia, serif;
}

input {
  color: #333;
  font-family: Georgia, serif;
  font-size: 1rem;
  padding: 0.1rem 0.5rem;
}

h1,
label,
input[type="submit"],
.output {
  display: block;
  margin: 2rem;
}

div.output {
  margin: 0;
}

img {
  padding: 0 2rem 2rem;
  width: 25%;
}

